$primary-normal: #153448;
$primary-dark: #3a5662;
$primary-light: #284456 ;

$secondary-normal: #3c5b6f;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #dfd0b8;
$white-dark: #e8dfe2 ;
$white-light: #f2edec;

$red-normal: #948979;
$red-dark: #beb0b4 ;
$red-light: #a99a9e ;